include "colors.kdl"

// Startup Applications
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "vicinae" "server"
spawn-at-startup "hypridle"
spawn-at-startup "noctalia"

// General Settings
prefer-no-csd
screenshot-path null

output "DP-2" {
    mode "1920x1080@165.004"
    scale 1
}

input {
    keyboard {
        xkb {
            layout "us"
            options "caps:capslock"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    workspace-auto-back-and-forth
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 5000
}

overview {
    backdrop-color "#1E1E2E"
    workspace-shadow {
        off
    }
}

gestures {
    hot-corners {
        off
    }
}

binds {
    // Shortcuts Panel
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Application Shortcuts
    Mod+T { spawn "alacritty"; }
    Mod+D { spawn "vicinae" "toggle"; }
    Mod+B { spawn "librewolf"; }
    Mod+E { spawn "nautilus"; }
    Mod+Alt+L { spawn "hyprlock"; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Window Management
    Mod+Q { close-window; }

    // Focus (Vim keys)
    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    // Focus (Arrow keys)
    Mod+Left { focus-column-left; }
    Mod+Down { focus-window-down; }
    Mod+Up { focus-window-up; }
    Mod+Right { focus-column-right; }

    // Moving windows
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Shift+H { consume-window-into-column; }
    Mod+Shift+L { expel-window-from-column; }

    // Workspaces
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }

    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up { move-column-to-workspace-up; }

    // Layout
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    // Screenshot
    Mod+Shift+S { screenshot; }

    // Media keys
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+";
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-";
    }

    XF86AudioMute allow-when-locked=true {
        spawn "sh" "-c" "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle";
    }

    XF86MonBrightnessUp allow-when-locked=true {
        spawn "sh" "-c" "brightnessctl set 5%+";
    }

    XF86MonBrightnessDown allow-when-locked=true {
        spawn "sh" "-c" "brightnessctl set 5%-";
    }
}

// Layout
layout {
    gaps 16
    center-focused-column "on-overflow"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 4
    }

    insert-hint {
        off
        color "#1E1E2E"
    }

    struts {}
}

// Animations
animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    window-close {
        duration-ms 200
        curve "ease-out-cubic"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
}

// Window Rules

window-rule {
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"librewolf$"# title="^Bitwarden$"
    open-floating true
}

window-rule {
    match app-id="librewolf" title=r#"Sign in - Google Accounts"#
    open-floating true
}

window-rule {
    match app-id="(?i)librewolf|zed|code|celluloid|cine|slack|vesktop|steam"
    open-maximized true
}

// System dialogs
window-rule {
    match title=r#".*(Dialog|Properties|Preferences|Settings|Rename).*"#
    open-floating true
}

window-rule {
    match app-id=r#"zenity"#
    open-floating true
}

// Auth
window-rule {
    match app-id=r#"org\.kde\.polkit-kde-authentication-agent-1"#
    open-floating true
}

window-rule {
    match title=r#".*Authentication.*"#
    open-floating true
}

// KeepassXC FIXED
window-rule {
    match app-id=r#"org\.keepassxc\.KeePassXC"#
    match title=r#".*Auto-Type.*"#
    open-floating true
}

// Bitwarden
window-rule {
    match app-id=r#"Bitwarden"#
    match title=r#".*unlock.*"#
    open-floating true
}

// Utilities
window-rule {
    match app-id=r#"nm-connection-editor"#
    open-floating true
}

window-rule {
    match app-id=r#"blueman-manager"#
    open-floating true
}

window-rule {
    match app-id=r#"pavucontrol"#
    open-floating true
}

// Steam
window-rule {
    match app-id=r#"^steam$"#
    exclude title=r#"^Steam$"#

    open-floating true
}

window-rule {  
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#  
    default-floating-position x=10 y=10 relative-to="bottom-right"  
}

// Sober
window-rule {
    match app-id=r#"(?i)sober"#
    exclude title=r#"^Sober$"#

    open-floating true
}

// Global appearance
window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
    draw-border-with-background false
}

// Environment
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"

    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"

    GDK_BACKEND "wayland"

    MOZ_ENABLE_WAYLAND "1"
    MOZ_DBUS_REMOTE "1"

    _JAVA_AWT_WM_NONREPARENTING "1"

    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
}
